    @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800');
    *{
      box-sizing: border-box
    }
    html, body{
      margin:0;
      padding:0;
      height:100%;
      color:#14152C;
      font-family: 'Raleway', sans-serif;
    }

    body{
      background-color:#f7f8fc;
      overflow-x: hidden;
    }

    textarea:focus, 
    select:focus,
    textarea.form-control:focus, 
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    [contenteditable].form-control:focus {
      box-shadow: inset 0 -1px 0 #ddd;
      outline: none !important;
      border:solid 1px #fe6937;
    }

    #canvas {
      position:absolute;
      left:0;
      top:0;
      z-index: -1;
      overflow-x: hidden !important;
    }

    .col-form-label {
      text-align: right;
    }

    .bottom {
      z-index: 2;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 15px 10px;
      box-shadow: 0px -2px 12px rgba(0,0,0,0.1);
    }

    .bottom__container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .progress {
      width: 40%;
      height: 14px;
      position: relative;
      border-radius: 5px;
      overflow:hidden;
      background-color: #ecedf5;
    }
    .progress__inner {
      position: absolute;
      top: 0;
      border-radius: 5px;
      height: 100%;
      left: 0;
      width: 0%;
      background-color: #fe6937;
      transition:.4s width linear;
      background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      background-size: 1rem 1rem;
    }

    .navigation {
      display: flex;
      align-items: center;
    }

    .navigation__btn {
      display: flex;
      align-items: center;
      width: 150px;
      border: 1px solid #fff;
      background-image: linear-gradient(to bottom, rgba(31, 34, 48, 0.9) 0%, rgba(67, 70, 93, 0.9) 100%);
      color: #fff;
      justify-content: center;
      height: 44px;
      cursor: pointer;
      transition: 0.3s;
    }

    .navigation__btn:hover {
      background:transparent;
      border-color: rgba(31, 34, 48, 0.9);
      color: rgba(31, 34, 48, 0.9);
    }

    .navigation__btn--left{
      border-top-left-radius:6px;
      border-bottom-left-radius:6px
    }

    .navigation__btn--right{
      border-top-right-radius:6px;
      border-bottom-right-radius:6px
    }

    .judul-ijin{
      font-weight:900;
      letter-spacing:1px;
      margin-top: 0;
      font-size: 30px;
      margin-bottom: 30px;
      color: #555;
    }

    .container {
      display: flex;
      /*height: calc(100% - 10%);*/
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 15px 10px;
    }
    .answer:first-of-type{
      margin-right:15px;
    }
    .answer__input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      width: 1px;
      height: 1px;
      position: absolute;
      outline:none !important;
    }

    .answer {
      display: inline-block;
      margin-right:10px;
    }

    .ijin__step {
      text-align: center;
      width: 680px;
      padding: 20px 35px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      border-radius: 3px;
      background: #fff;      
    }

    .no-background{
      background-color: transparent;
      box-shadow: none;
      padding: 0;
    }

    .btn3d {
      position: relative;
      border: 0;
      transition: all 40ms linear;
      margin: 20px 2px 5px 2px;
      cursor: pointer;
    }
    .btn:focus {
      border:none;
      border-color: transparent !important;
    }
    .btn3d:active:focus,
    .btn3d:focus:hover,
    .btn3d:focus {
      -moz-outline-style:none !important;
      outline:medium none !important;
    }
    .btn3d:active, .btn3d.active {
      top:2px;
    }
    .btn3d.btn-danger {
      color: #fff;
      box-shadow: 0 0 0 1px #e46237 inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #c1502a, 0 8px 8px 1px rgba(0,0,0,.2);
      background-color: #fe6937;
    }
    .btn3d.btn-danger:active, .btn3d.btn-danger.active {
      color: #fff;
      box-shadow:0 0 0 1px #fe6937 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
      background-color:#fe6937;
    }
    .btn3d.btn-primary {
      box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 5px 0 0 #0171a2, 0 5px 5px 1px rgba(0,0,0,0.5);
      background-color: #00a4eb;
    }
    .btn3d.btn-primary:active, .btn3d.btn-primary.active {
      box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
      background-color:#00a4eb;
    }
    .btn3d.btn-primary:focus{
      background-color: #00a4eb !important;
    }
    .btn3d.btn-white {
      color: #666666;
      box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 5px 0 0 #f5f5f5,  0 5px 5px 1px rgba(0,0,0,.2);
      background-color:#fff;
    }
    .btn3d.btn-white:active, .btn3d.btn-white.active {
      color: #666666;
      box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
      background-color:#fff;
    }
    .btn3d.btn-default {
      color: #666666;
      box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 5px 0 0 #BEBEBE,  0 5px 5px 1px rgba(0,0,0,.2);
      background-color:#f9f9f9;
    }
    .btn3d.btn-default:active, .btn3d.btn-default.active {
      color: #666666;
      box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
      background-color:#f9f9f9;
    }
    .answer__char {
      line-height: 24px;
      display: inline-block;
      width: 26px;
      text-align: center;
      font-size: 13px;
      border-radius: 4px;
      color: #c8cae0;
      border: 1px solid #c8cae0;
      font-weight: 600;
      vertical-align: middle;
      margin-right: 15px;
    }
    .answer__tick {
      display: inline-block;
      vertical-align: middle;
      background-color: #fe6937;
      margin-left: 20px;
      line-height: 14px;
      border-radius: 50%;
      padding: 4px;
      opacity:0;
      visible:hidden;
    }

    .answer__tick path{
      fill:#fff
    }
    .ijin__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /*margin-bottom: 150px;*/

    }

    .ijin__step:not(.ijin__step--current){
      visibility:hidden;
      opacity:0;
      display:none;
    }
    .img-jkt{
      width: 100px;
      margin-bottom:15px;
      display: inline-block;
      margin-top: 10%;
    }
    .navigation__btn--disabled {
      opacity: 0.4;
    }
    .submit__container {
      margin-top: 25px;
    }
    .submit {
      background-color: #fe6937;
      line-height: 50px;
      display: inline-block;
      border-radius: 25px;
      padding: 0 15px;
      font-size: 13px;
      text-decoration: none;
      color: #fff;
      letter-spacing: 1px;
      box-shadow: 0px 6px 11px rgba(88,97,175, 0.6);
      min-width: 130px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }

    .summary__tick {
      line-height: 50px;
      width: 50px;
      font-size: 25px;
      color: #fff;
      background-color: #fe6937;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
    }
    .summary__title {
      font-weight: 900;
      letter-spacing: 1px;
      margin-top: 15px;
      text-align: center;
      font-size: 40px;
    }
    .summary{
      text-align:center;
      margin: 20% auto;
    }
    .mb-150{
      margin-bottom: 120px;
    }
    .label-table{
      float: left;
      font-weight: 500;
      letter-spacing: 2px;
    }
    .bg-white{
      background-color: #fff;
    }
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: #ebebeb;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #c1c1c1; 
    }
    .modal-dialog {
      min-height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: auto;
    }
    .modal-content{
      border-radius: 10px;
    }
    .modal-title{
      font-size: 20px;
      letter-spacing: -.4px;
      font-weight: bold;
      display: block;
      color: #fe6937;
    }
    @media(max-width: 768px) {
      .modal-dialog {
        min-height: calc(100vh - 20px);
        max-width: 100% !important;
      }
      .ijin__step {
        width: 100%;
      }
      .position-btnreset {
        right: 2% !important;
      }
      .col-form-label {
        text-align: left;
      }
      .bottom__container {
        display: block;
      }
      .progress {
        width: 100%;
        margin-bottom: 8px;
      }
      .navigation__btn {
        width: 50%;
      }
      .judul-ijin {
        font-size: 26px;
      }
    }
    .position-btnreset {
      position: absolute;
      top: 1%;
      right: 10%;
      z-index: 1;
    }

    #accordion5 .panel{
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin: 0 15px 20px 35px;
    }
    #accordion5 .panel-title a{
      display: block;
      padding: 10px 20px 10px 0px;
      background: #fe5f55;
      border-radius: 30px;
      border: 2px solid #fe5f55;
      font-size: 20px;
      font-weight:400;
      color: #fff;
      position: relative;
    }
    #accordion5 .panel-title a.collapsed{
      border: 2px solid #bbb;
      background: #fff;
      color: #bbb;
    }
    #accordion5 .panel-title a:before,
    #accordion5 .panel-title a.collapsed:before{
      content: "\f068";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      background: #fe5f55;
      font-size: 18px;
      color: #fff;
      text-align: center;
      border-right: 3px solid #fff;
      position: absolute;
      top: -10px;
      left: -30px;
      z-index: 1;
      transition: all 0.3s ease 0s;
    }
    #accordion5 .panel-title a.collapsed:before{
      content: "\f067";
      background: #bbb;
      border: none;
    }
    #accordion5 .panel-body{
      padding: 10px 15px 0;
      margin: 0 0 0 -20px;
      border: none;
      font-size: 14px;
      color: #333;
      line-height: 28px;
      position: relative;
    }
   /* #accordion5 .panel-body:before{
      content: "";
      display: block;
      width: 5px;
      height: 90%;
      background: #fe5f55;
      position: absolute;
      top: 0;
      left: -30px;
    }
    #accordion5 .panel-body:after{
      content: "";
      border-top: 20px solid #fe5f55;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      position: absolute;
      bottom: 0;
      left: -48px;
      }*/
      .page-loader {  
        position: fixed;  
        z-index: 200;   
        width: 100%;  
        height: 100%;   
        top: 0;   
        left: 0;  
        background: rgba(255,255,255,.9);   
        display: none;   
        -webkit-transition: opacity .5s ease-in-out;  
        -o-transition: opacity .5s ease-in-out;   
        -moz-transition: opacity .5s ease-in-out;   
        transition: opacity .5s ease-in-out;
      }
      .page-loader,
      .page-loader.visible {  
        -webkit-transition: .6s;  
        -moz-transition: .6s;   
        -o-transition: .6s;   
        transition: .6s; 
        opacity: 1;   
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";   
        visibility: visible;
      } 
      .page-loader.p-hidden {   
        visibility: hidden;   
        opacity: 0;   
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
      }
      .page-loader div {  
        position: absolute;   
        top: 50%;   
        width: 100%;  
        text-align: center;   
        color: #1d1d1d;   
        margin-top: -50px;  
        display: block;
      }
      .page-loader div p {  
        margin-top: 100px;  
        font-size: 15px;  
        color: #1f1f1f;   
        letter-spacing: 10px;  
        padding-left: 1em;  
        text-transform: uppercase;  
        font-family: Roboto, Helvetica, sans-serif;   
        font-weight: 400;
      }
      #preloader {  
        position: fixed;  
        top: 0;   
        left: 0;  
        width: 100%;  
        height: 100%;
      }
      #loader {   
        display: block;   
        position: relative;   
        left: 50%;  
        top: 50%;   
        width: 150px;   
        height: 150px;  
        margin: -75px 0 0 -75px;  
        -webkit-border-radius: 50%;   
        -moz-border-radius: 50%;  
        border-radius: 50%;   
        border: 2px solid transparent;  
        border-top-color: #fe6937;  
        -webkit-animation: spinr 1.5s linear infinite;  
        -moz-animation: spinr 1.5s linear infinite;   
        -o-animation: spinr 1.5s linear infinite;   
        animation: spinr 1.5s linear infinite;
      }
      #loader:before {  
        content: "";  
        position: absolute;   
        top: 15px;  
        left: 15px;   
        right: 15px;  
        bottom: 15px;   
        -webkit-border-radius: 50%;   
        -moz-border-radius: 50%;  
        border-radius: 50%;   
        border: 2px solid transparent;  
        border-top-color: #fe6937;  
        -webkit-animation: spinl .5s linear infinite;   
        -moz-animation: spinl .5s linear infinite;  
        -o-animation: spinl .5s linear infinite;  
        animation: spinl .5s linear infinite;
      }
      #loader:after {   
        content: "";  
        position: absolute;   
        top: 30px;  
        left: 30px;  
        right: 30px;  
        bottom: 30px;   
        -webkit-border-radius: 50%;   
        -moz-border-radius: 50%;  
        border-radius: 50%;   
        border: 2px solid transparent;  
        border-top-color: #fe6937;  
        -webkit-animation: spinr 1s linear infinite;  
        -moz-animation: spinr 1s linear infinite;   
        -o-animation: spinr 1s linear infinite;   
        animation: spinr 1s linear infinite;
      }
      @-webkit-keyframes spinr {  0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    transform: rotate(360deg);  }
    }
    @-moz-keyframes spinr {   0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   transform: rotate(360deg);  }
  }
  @-o-keyframes spinr {   0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -o-transform: rotate(0deg);   transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -o-transform: rotate(360deg);   transform: rotate(360deg);  }
}
@keyframes spinr {  0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   -o-transform: rotate(0deg);   transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   -o-transform: rotate(360deg);   transform: rotate(360deg);  }
}
@-webkit-keyframes spinl {  0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    transform: rotate(0deg);  }
}
@-moz-keyframes spinl {   0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   transform: rotate(0deg);  }
}
@-o-keyframes spinl {   0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -o-transform: rotate(360deg);   transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -o-transform: rotate(0deg);   transform: rotate(0deg);  }
}
@keyframes spinl {  0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   -o-transform: rotate(360deg);   transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   -o-transform: rotate(0deg);   transform: rotate(0deg);  }
}
.swal2-styled {
  position: relative !important;
  border: 0 !important;
  transition: all 40ms linear !important;
  margin: 20px 2px 5px 2px !important;
  cursor: pointer !important;
}
.swal2-styled:active:focus,
.swal2-styled:focus:hover,
.swal2-styled:focus {
  -moz-outline-style:none !important;
  outline:medium none !important;
}
.swal2-styled.swal2-confirm {
  color: #fff !important;
  box-shadow: 0 0 0 1px #e46237 inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #c1502a, 0 8px 8px 1px rgba(0,0,0,.2) !important;
  background-color: #fe6937 !important;
}
.swal2-styled.swal2-confirm:active, .swal2-styled.swal2-confirm.active {
  color: #fff !important;
  box-shadow:0 0 0 1px #fe6937 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1) !important;
  background-color:#fe6937 !important;
}
.swal2-styled.swal2-cancel {
  color: #666666 !important;
  box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE,  0 8px 8px 1px rgba(0,0,0,.2) !important;
  background-color:#f9f9f9 !important;
}
.swal2-styled.swal2-cancel:active, .swal2-styled.swal2-cancel.active {
  color: #666666 !important;
  box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1) !important;
  background-color:#f9f9f9 !important;
}
.imagePreview {
  width: 100%;
  height: 130px;
  background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg) center center no-repeat;
  background-color:#fff;
  background-size: contain;
  background-repeat:no-repeat;
  display: inline-block;
  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid #ced4da;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px !important;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  cursor:pointer;
}
.imgAdd, .imgAddDalam{
  width: 30%;
  height: 40px;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top: 10px;
  margin-left: 15px;
  cursor:pointer;
}
.imgUpLuar, .imgUpDalam{
  margin:10px 0 10px 0;
}
.imgUpLuar label, .imgUpDalam label{
  margin-top: -4px !important;
}

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #ced4da;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;border-radius: 0.25rem;}
.file-upload .file-select .file-select-button{background:#ced4da;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color: rgba(31, 34, 48, 0.9);transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background-image: linear-gradient(to bottom, rgba(31, 34, 48, 0.9) 0%, rgba(67, 70, 93, 0.9) 100%);color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 1px solid #ced4da;color: #fe6937;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#ced4da;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}